@font-face {
    font-family: 'Oceanwide';
    src: url('./fonts/Oceanwide-Semibold.eot');
    src: url('./fonts/Oceanwide-Semibold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Oceanwide-Semibold.woff2') format('woff2'),
        url('./fonts/Oceanwide-Semibold.woff') format('woff'),
        url('./fonts/Oceanwide-Semibold.ttf') format('truetype'),
        url('./fonts/Oceanwide-Semibold.svg#Oceanwide-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Effra';
    src: url('./fonts/Effra-Regular.eot');
    src: url('./fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Effra-Regular.woff2') format('woff2'),
        url('./fonts/Effra-Regular.woff') format('woff'),
        url('./fonts/Effra-Regular.ttf') format('truetype'),
        url('./fonts/Effra-Regular.svg#Effra-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-font: 'Effra';
    --secondary-font: 'Oceanwide';
    --Black: rgba(0, 0, 0, 1);
    --Grey: #6C6C6C;
    --White: #FFFFFF;
    --Pastel-Peach: #FFE1E1;
    --primary-gadient: linear-gradient(94.01deg, #028485 1.24%, #07ABEC 71.32%);
    --primary-color: #092793;
    --secondary-color: #176ACC;
    --Tertiary-color: #07ABEC;
    --Quaternary-color: #028485;
    --Quinary-color: #176ACC;
    --txt-primary-color: #D5D7D8;
    --banner-title:94px;
    --main-title:74px;
    --common-heading:42px;
    --Sub_Heading:28px;
    --body:26px;
    --body-sub:22px;
    --body-subTxt:20px;
    --smallestTxt:18px;
    --secGap:100px;
    --fw-light:300;
	--fw-regular:400;
	--fw-medium:500;
	--fw-semi-bold:600;
	--fw-bold:700;
	--fw-extra-bold:800;
	--fw-black:900;
}





header, main, footer{width: 100%;float: left;}

body{text-rendering:optimizeSpeed;line-height:1.5; font-family: var(--secondary-font);background-color: #181516;color: var(--White);}
body,h1,h2,h3,h4,h5,h6,p,ul,ul li{margin:0;padding:0;}
*,*::before,*::after{outline:none;box-sizing:border-box;scroll-behavior:smooth;}
*{margin:0;padding:0;}
input,button{-moz-appearance:none;-webkit-appearance:none;}
button{cursor: pointer;}
a:link,a:visited{text-decoration:none;border:none;outline:none;}
img,picture,svg{max-width:100%;display:block;}
img{border:none;outline:none;width: 100%;display: block;}
ul,ol{list-style:none;list-style-type:none;}
q{quotes:"\201C" "\201D" "\2018" "\2019";} 
.desktop{display:block;}
.mobile{display:none;}
.helperSpan{display:inline-block;vertical-align:middle;width:1px;height:100%;}
.relative{position:relative;}
.absolute{position:absolute;}
.clr{clear:both;}
.floatLft{float:left;}
.floatRgt{float:right;}
.d-flex{display: flex;}
.gap0-5{gap: 0.5em;}
.gap1{gap: 1em;}
.flxFlwRwWrp{flex-flow: row wrap;}
.justContCent{justify-content: center;}
.justContStretch{justify-content: stretch;}
.justContSpBtw{justify-content: space-between;}
.justContflxEnd{justify-content: flex-end;}
.algnItmCent{align-items: center;}
.algnItmstretch{align-items: stretch;}
.algnItmEnd{align-items: flex-end;}
.inlineBlk{display:inline-block;vertical-align:middle;}
.table{display:table;}
.transition{transition:all 0.35s ease 0s;-moz-transition:all 0.35s ease 0s;-webkit-transition:all 0.35s ease 0s;}
.row{display:flex; justify-content: space-between;}
.flexdircol{flex-direction:column;}
.flexdirrow{flex-direction:row;}   
.black{color: var(--Black);}
.white{color: var(--White);}

.sec_head{font-size: var(--Main_Heading); font-weight: var(--fw-bold);}
/* .com_desc{font-size: var(--common-Txt); font-weight: var(--fw-regular); color: var(--bodyTxt-color);} */
.card_head{font-size: var(--Sub_Heading); font-weight: var(--fw-bold);}

 /* ======= containers  ======= */



/* font weight */
.fw-black{font-weight:var(--fw-black);}
.fw-ex-bold{font-weight:var(--fw-extra-bold);}
.fw-bold{font-weight:var(--fw-bold);}
.fw-semi-bold{font-weight:var(--fw-semi-bold);}
.fw-medium{font-weight:var(--fw-medium);}
.fw-regular{font-weight:var(--fw-regular);}
.fw-light{font-weight:var(--fw-light);}
.ff-secondary{font-family:var(--secondary-font);}

/* ======= containers  ======= */
.col-10{width:10%;}
.col-20{width:20%;}
.col-30{width:30%;}
.col-40{width:40%;}
.col-50{width:50%;} 
.col-60{width:60%;}
.col-70{width:70%;}
.col-80{width:80%;}
.col-90{width:90%;}
.col-100{width:100%;}
.textCenter{text-align:center;}
.textJustify{text-align:justify;}
.textLeft{text-align:left;}
.textRight{text-align:right;}
.textUp{text-transform:uppercase;}
.bg-transparent{background-color:transparent;}
.main-wrapper{max-width:90%; width:100%; margin:0 auto;}
.wrap-1600{max-width:1600px; width:100%; margin:0 auto;}
.wrap-1400{max-width:1450px; width:100%; margin:0 auto;}
.wrap-1300{max-width:1318px; width:100%; margin:0 auto;}
.wrap-1200{max-width:1266px; width:100%; margin:0 auto;}
.wrap-1100{max-width:1146px; width:100%; margin:0 auto;}
.footerWrapper{max-width:1792px; width:100%; margin:0 auto;}


.sv-secGap{padding: var(--secGap) 0;}
.margiBot0-5em{margin-bottom: 0.5em;}
.margiBot1em{margin-bottom: 1em;}
.margiBot2em{margin-bottom: 2em;}
.margiBot3em{margin-bottom: 3em;}
.margiBot4em{margin-bottom: 4em;}
.margiBot5em{margin-bottom: 5em;}
.padd-bot0{padding-bottom: 0;}
.marg-bot0{margin-bottom: 0;}
.z-3{z-index: 3;}
.gp-1{gap: 1em;}
.gp-2{gap: 2em;}
.tab-content{display: none;}
.tab-content.active{display: block;}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  *{scrollbar-width:auto;scrollbar-color: #181516 #ffffff;}
  /* Chrome,Edge,and Safari */
   *::-webkit-scrollbar{width:10px;}
  *::-webkit-scrollbar-track{background:#ffffff;}
  *::-webkit-scrollbar-thumb{background-color: #181516;border-radius:10px;border:3px solid #ffffff;}


.txt_gradient > * > span{background:linear-gradient(94.01deg,#028485 1.24%,#07ABEC 71.32%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-clip:text;text-fill-color:transparent;}

.commBtn > *{font-size: var(--smallestTxt);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);background: linear-gradient(94.01deg, #028485 1.24%, #07ABEC 71.32%);border: 1px solid #028485;border-radius: 100px;padding: 1em 1.3em;}

.bannerTitle > *{font-size: var(--banner-title);color: var(--txt-primary-color);font-family: var(--secondary-font);font-weight: var(--fw-semi-bold);line-height: 0.97;letter-spacing: 0.1em;text-transform: uppercase;}
.bannerTitleSub > *{font-size: var(--common-heading);color: var(--txt-primary-color);font-family: var(--secondary-font);font-weight: var(--fw-semi-bold);line-height: 1.272;text-transform: uppercase;}
.bannerTxt{font-size: var(--Sub_Heading);color: var(--txt-primary-color);font-weight: var(--fw-regular);font-family: var(--primary-font);line-height: 1.272;max-width: 650px;margin-top: 1.5em;}
.CommSecTitle > *{font-size: var(--main-title);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);line-height: 0.97;text-align: center;letter-spacing: 0.12em;text-transform: uppercase;}

.Comm_Txt{font-family: var(--primary-font);color: var(--txt-primary-color);font-weight: var(--fw-regular);line-height: 1.272;font-size: var(--body);}
