header{position: fixed;top: 2em;left: 0;z-index: 999;transition: all 0.5s;}
header *{transition: all 0.5s;}
header.stickyHead{top: 0;background-color: #181516;}
/* header.stickyHead .headerWrap{max-width: 100%;} */
header.stickyHead .headerWrap .headerContent{background-color: transparent;}
.headerWrap{max-width: 92.5%;margin: auto;}
.headerContent{background:rgba(255,255,255,0.06);border-radius:66px;padding: 1.5em;}
.brandLogo{max-width: 150px;}
.headMenu > ul{gap: 1.875em;}
.headMenu a{font-size: var(--smallestTxt);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);font-family: var(--secondary-font);text-transform: uppercase;}
.headMenu a.active{color: var(--Tertiary-color);}
.ham_menu{display: none;}
body.menu-open{overflow: hidden;}
.menu-overlay{background:rgba(0,0,0,0.4);width:100%;height:100vh;position:absolute;z-index:99;}


/* Section With Min-height 100vh */
.wtWeOffSec,.BannerSec,.wtWeDoSec,.innoActSec,.scrollSlider{min-height: 100vh;}
.BannerSec{background-position: center;background-repeat: no-repeat;background-size: cover;}
.hmBanner .bannerCont{max-width: 70%;}
.bannerCont > .commBtn{margin-top: 3em;}


.wtWeDoSec{background-image: url(../images/wtWeDo-Bg.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;}
.wtWeDoSec::before{content: " ";background: linear-gradient(0deg, #181516 0%, #060B13 117.57%);filter: blur(53.4px);position: absolute;top: 0;left: 0;width: 100%;height: 20%;z-index: -1;}
.wtWeDoSec::after{content: " ";background: linear-gradient(0deg, #181516 0%, #060B13 117.57%);filter: blur(53.4px);position: absolute;bottom: 0;left: 0;width: 100%;height: 20%;z-index: -1;}
.wtWeDoSecCardTitle > *{font-size: var(--Sub_Heading);color: var(--Quaternary-color);font-weight: var(--fw-regular);font-family: var(--secondary-font);text-transform: uppercase;margin-block: 1em;}

.wtWeDoSecCardIcon,.wtWeDoSecCardIcon img{max-width:44px;}
.wtWeDoSecCards{gap: 1.5em;margin-top: var(--secGap);}
.wtWeDoSecCard{width: calc(50% - 1em);background: rgba(255, 255, 255, 0.05);border: 1px solid rgba(213, 215, 216, 0.3);box-shadow: 0px 4px 24.2px 1px rgba(255, 255, 255, 0.2);border-radius: 20px;padding: 3.125em 2.1875em;}
.wtWeDoSecCard > .Comm_Txt > p{line-height: 1.2719;}
.offeringSec{background-image: url(../images/wtWeOff-Dots.png);background-position: center;background-repeat: no-repeat;background-size: cover;padding: 4.0625em;}
.wtWeOffContImg{border-radius: 20px;overflow: hidden;max-width: 50%;}
.wtWeOffContTxtSubHead > *{font-size: var(--body-subTxt);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);font-family: var(--secondary-font);text-transform: uppercase;}
.wtWeOffContTxtHead > *{font-size: var(--common-heading);font-weight: var(--fw-semi-bold);line-height: 1.04;}
.wtWeOffContTxt{max-width: 40%;}
.TmPartnersSec{background-image: url(../images/ourpartners-bg.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;}
.TmPartnersSecCard{width: calc(20% - 1em);}
.TmPartnersSecCard > img{max-width: 200px;margin: auto;}
.TmPartnersSecCard:not(:last-child){border-right: 1px solid rgba(213, 215, 216, 0.3);}
.TmPartnersSecCards{margin-top: 5em;}

.innoActSec{background-image: url(../images/innovAction-bg.png);background-position: center;background-size: 100% 100%;background-repeat: no-repeat;}
.innovActiv_p > *{max-width: 50%;margin: auto;}
.innoActinSliderSec{margin-bottom: 2em;}
.innoActinSliderImg{max-width: 65%;border-radius: 20px;overflow: hidden;}
.innoActinSliderTxt{max-width: 25%;}
.innoActinSliderTxtHead > *{font-size: var(--common-heading);color: var(--txt-primary-color);font-weight: var(--fw-bold);line-height: 0.97;text-align: center;}
.innoActinSliderTxt_p > *{font-size: var(--body);color: var(--txt-primary-color);font-weight: var(--fw-regular);line-height: 1.272;text-align: center;margin-top: 1em;}
.innoActinSliderImg img{aspect-ratio:2 / 1;}

.ContactFrm{background-image: url(../images/contactFrm-bg.png);background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
.ContactFrmContTxt *{text-align: left;}
.ContactFormCont{background: rgba(255, 255, 255, 0.05);border: 1px solid rgba(213, 215, 216, 0.3);border-radius: 20px;padding: 2.5em;}

.ContactFormFld input{width: 100%;background-color: transparent;padding: 1.5em 0 0.4em 0;border: none;border-bottom: 0.8px solid rgba(213, 215, 216, 0.15);outline: none;font-size: var(--body-sub);color: var(--txt-primary-color);font-weight: var(--fw-regular);}
.ContactForm,.ContactFrmContTxt{width: 40%;}
.ContactFormCont > ul > li{position: relative;}
.ContactFormCont > ul > li:not(:last-child){margin-bottom: 1em;}
.ContactFormCont > ul > li:last-child{margin-top: 2em;}
.ContactFrm .main-wrapper{max-width: 1300px;width: 90%;}
.floating-labelInp label.floating-label{font-size: var(--body-sub);color: var(--txt-primary-color);font-weight: var(--fw-regular);font-family: var(--secondary-font);position:absolute;top:50%;left:0;transform:translateY(-50%);pointer-events:none;transition:all 0.3s ease;z-index:1;padding:0 !important;line-height:1.3;}
.floating-labelInp label.floating-label.active{top:12px;left:0px;opacity:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:calc(100% - 0em);font-size: calc(var(--body-sub) - 4px);}
.telFlagLab{align-items: baseline;gap: 0.4em;}
.telFlagLab > img{max-width: 16px;}
.telFlagLab.active > img{max-width:12px;}
.ContactFormCont .commBtn > *{padding: 0.6em 1.3em;}

.contactmsg,.errorMSg{font-size: 12px;position: absolute;top: 100%;left: 0;}
.errorMSg{color: red;}
.contactmsg{color: springgreen;}



button.slick-next.slick-arrow,button.slick-prev.slick-arrow{background-repeat: no-repeat;background-position: center;width: 78px;height: 78px;top: auto;bottom: -150%;left: 40%;right: auto;}
button.slick-prev.slick-arrow{background-image: url(../images/prevBtn.png);transform: translateX(-50px);}
button.slick-next.slick-arrow{background-image: url(../images/nextBtn.png);transform: translateX(50px);}

/* Footer */
.footerContent a,.footerContent p,.footerContent li,.footerContent h6,.footCopy p{font-size: var(--smallestTxt);color: var(--txt-primary-color);font-weight: var(--fw-medium);font-family: var(--primary-font);margin-bottom: 0.5em;}
.footerContent h6{font-weight: var(--fw-semi-bold);font-family: var(--secondary-font);margin-bottom: 1.3em;}
.FtStLogo{max-width: 150px;margin: auto;margin-bottom: 3em;}
.FtCertLogo{max-width: 80px;margin: auto;}
.footIcon{max-width: 15px;margin: 0.4em 0.6em 0 0;}
.footMap iframe{width: 100%;height: auto;border-radius: 8px;aspect-ratio: 1.80/1;}
.footStDet{max-width: 40%;}
.footCtr2{width: 20%;}
.footStDet > *{width: calc(50% - 1em);}
.footContact > *{margin-bottom: 1.5em;}
.footCopy{padding: 1em;border-top: 1px solid rgba(213, 215, 216, 0.3);}
.footerContent .footContactLinks h6{margin-bottom: 0.6em;}
.footerContent.sv-secGap{padding:calc(var(--secGap) / 2) 0;}



/* Solution Page */

.advDetSec{background-image: url(../images/innovAction-bg.png);background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
.advDetSec .bannerTxt{max-width: 958px;}
.advDetSecSliderSec{max-width: 95%;margin-left: auto;}
.advDetSecSlider{margin-top: 3em;}
.advDetSecSliderCont{padding: 3em;background-image: url(../images/wtWeOff-Dots.png);background-position: center;background-size: cover;background-repeat: no-repeat;box-shadow: 0px 4px 24.2px 1px rgba(255, 255, 255, 0.2);border-radius: 32px;border: 1px solid rgba(213, 215, 216, 0.3);background-color: #121212;display: flex !important;margin: 0 1.5em;}
.advDetSecSliderContTxtHead > *{font-size: var(--body);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);line-height: 0.97;}
.advDetSecSliderContTxt_p > ul > li{font-size: var(--body-subTxt);color: var(--txt-primary-color);font-weight: var(--fw-regular);font-family: var(--primary-font);line-height: 1.272;position: relative;padding-left: 1.5em;margin: 0.8em 0;}
.advDetSecSliderContTxt_p > ul > li::before{content:'';position:absolute;left:0;top:50%;transform: translateY(-50%); width:16px;height:16px;background-image:url('../images/list_Icon.png');background-size:contain;background-repeat:no-repeat;}
.advDetSecSliderContTxt > .commBtn{margin-top: 2em;}
.advDetSecSliderCont > .advDetSecSliderContImg{max-width: 45%;}
.enerSoluSec .enerSoluSecCard > .advDetSecSliderCont{max-width: 60%;margin: auto;margin-top: 3em;}
.enerSoluSec{background-image: url(../images/eneryManageSol-bg.png);background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
.solutionsBanner-3{background-image: url(../images/ourpartners-bg.png);}
.techTabCardImg{box-shadow: 0px 4px 24.2px 1px rgba(255, 255, 255, 0.2);border-radius: 12px;overflow: hidden;}
.techTabCards{gap: 1.5em;row-gap: 2.5em;}
.techTabCard{width: calc(33.333% - 1em);}
.techTabCardTxt > *{font-size: var(--body);font-weight: bolder;text-align: center;color: var(--txt-primary-color);margin-top: 1em;}
.solPgTabSec{background-image: url(../images/techTabSec-bg.png);background-position: center;background-repeat: no-repeat;background-size: 100% 100%;}
.solPgTabbing .tabBtn{font-size: var(--body-subTxt);color: var(--txt-primary-color);font-weight: var(--fw-regular);line-height: 0.97;padding-bottom: 0.2em;border-bottom: 2px solid transparent;transition: all 0.3s;}
.solPgTabbing .tabBtn.active{color: var(--Tertiary-color);border-bottom: 2px solid var(--Tertiary-color);}
.solPgTabbing{margin: 1.5em 0;}
.advDetSecSlider .slick-track{padding: 2em 0;}
.advDetSec .advDetSecSliderCont > .advDetSecSliderContImg{max-width: 50%;}
.advDetSec .advDetSecSliderCont > .advDetSecSliderContImg > img{max-width: 50%;margin: auto;}
.solutionsBanner .bannerTxt{max-width: 55%;margin: auto;margin-top: 0.5em;}



.card-stack{position:relative;min-height:100vh;}
.stackcards{position:absolute;margin:auto;right:0;bottom:0;z-index:10;transform:translateY(0);background-color:#181516;background-image:url(../images/wtWeOff-Dots.png);background-position:center;background-size:cover;background-size:cover;border:1px solid rgba(213,215,216,0.3);border-radius:36px;transition:transform 0.3s ease;transform-origin:center center;overflow: hidden;}

.stackcardTxts{max-width: calc(60% - 1em);padding:6em 3em;}
.stackcardImg{max-width: calc(40% - 1em);}
.stackcards .bannerTxt{max-width:60%;}
.stackcards:nth-child(2){z-index:9;transform: translateY(-10%);}
.stackcards:nth-child(3){z-index:8;transform: translateY(-20%);}
.stackcards:nth-child(4){z-index:7;transform: translateY(-30%);}
.stackcards:nth-child(5){z-index:6;transform: translateY(-40%);}
.stackcards:nth-child(6){z-index:5;transform: translateY(-50%);}
.stackcards:nth-child(7){z-index:4;transform: translateY(-60%);}
.stackcards:nth-child(8){z-index:3;transform: translateY(-70%);}
.stackcards:nth-child(9){z-index:2;transform: translateY(-80%);}

.stackcardTitle > *{font-size: var(--common-heading);font-weight: var(--fw-semi-bold);}
.stackcardTitleSub > *{font-size: var(--Sub_Heading);font-weight: var(--fw-semi-bold);}
.stackcardTxt > *{font-size: var(--body);font-weight: var(--fw-regular);}
.stackcardTitle > *{font-size: var(--common-heading);font-weight: var(--fw-semi-bold);}
.stackcardTitleSub > *{font-size: var(--Sub_Heading);font-weight: var(--fw-semi-bold);margin-bottom: 0.2em;}
.stackcardTxt > *{font-size: var(--body-subTxt);font-weight: var(--fw-regular);}

/* About Page */
.ourValueImg .tabBtn-container{position:relative;width:100%;height:100%;aspect-ratio:0.98/1;margin:auto;}
.ourValueImg .tabBtn{position:absolute;background:radial-gradient(circle at center,#00b4ff,#0074c1);color:white;font-weight:bold;text-align:center;border-radius:50%;cursor:pointer;padding:1rem;display:flex;align-items:center;justify-content:center;transition:all 0.4s ease-in-out;font-size:0.7rem;width:125px;height:125px;flex-shrink:0;background:linear-gradient(94.01deg,rgba(2,132,133,0.47) 1.24%,rgba(7,171,236,0.47) 71.32%);box-shadow:0px 4px 44.4px 1px rgba(255,255,255,0.25);border-radius:1000px;}

/* Specific positions */
.ourValueImg .tabBtn-container .tabBtn:first-child{top:0%;right:0%;z-index:2;}
.ourValueImg .tabBtn-container .tabBtn:nth-child(2){top:0%;left:30%;}
.ourValueImg .tabBtn-container .tabBtn:nth-child(3){top:25%;left:32%;}
.ourValueImg .tabBtn-container .tabBtn:nth-child(4){top:44%;left:50%;}
.ourValueImg .tabBtn-container .tabBtn:nth-child(5){top:45%;right:0%;}
.ourValueImg .tabBtn-container .tabBtn.active{width:250px;height:250px;font-size:1.3rem;z-index:3;}
.ourValueImg .tabBtn-container .tabBtn.active{background:linear-gradient(94.01deg,#028485 1.24%,#07ABEC 71.32%);box-shadow:0px 4px 40px 5px #028485;border-radius:1000px;}
.bgVideo{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;z-index:0;}
.bannerCont{position:relative;z-index:2;}

.techEhcSecImg > img{max-width: 192px;margin: auto;margin-bottom: 1em;}


.offeringSecScroller{overflow-x: hidden;border-radius: 36px;box-shadow: 0px 0px 75px 30px rgba(9, 39, 147, 0.65);}
.offeringSecScrollerSub{display: flex;align-items: center;}
.offeringSec{width:100%;min-width:100vw;display:flex;align-items:center;justify-content:center;}
.BannerSec::before{content: " ";position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #00000030;z-index: 2;}


.commBtn > *{transition:all 0.3s ease;}
.commBtn > *:hover{transform:scale(1.05);box-shadow:0 8px 20px rgba(7,171,236,0.4);}

section{overflow: hidden;}
html,body{overflow-x:hidden;}


  