header{position: fixed;top: 3.5em;left: 0;z-index: 999;}
.headerWrap{max-width: 92.5%;margin: auto;}
.headerContent{background:rgba(255,255,255,0.06);border-radius:66px;padding: 1.5em;}
.brandLogo{max-width: 104px;}
.headMenu > ul{gap: 1.875em;}
.headMenu a{font-size: var(--smallestTxt);color: var(--txt-primary-color);font-weight: var(--fw-semi-bold);font-family: var(--secondary-font);text-transform: uppercase;}
.headMenu a.active{color: var(--Tertiary-color);}

.BannerSec{min-height: 100vh;}
.hmBanner{background-image: url(../images/banner_Img.png);background-position: center;background-repeat: no-repeat;background-size: cover;}
.hmBanner .bannerCont{max-width: 70%;}
.bannerCont > .commBtn{margin-top: 3em;}
